
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Prompt', sans-serif;
  font-size: 15px;
}

:root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: hsl(var(--primary-hue), 89%, 41%);
  --color-white: hsl(0, 5%, var(--white-lightness));
  --color-light: hsl(var(--primary-hue), 5%, var(--light-lightness));
  --color-black: hsl(var(--primary-hue), 5%, var(--black-lightness));
  --color-dark: hsl(var(--primary-hue), 5%, var(--dark-lightness));

  /* GENERAL CONTAINER VARIABLES */
  --container-width-lg: 76%;
  --container-width-md: 90%;

  /* BORDER RADIUS VARIABLES */
  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  /* GENERAL TRANSITION VARIABLE */
  --transition: all 500ms ease;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  position: relative;
}
.container--narrow {
  max-width: 1156px;
}
.ant-menu-overflow-item {
  margin-left: auto;
}
.ant-layout {
  min-height: calc(100% - 50px) !important;
}

.ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
  background: transparent !important;
}

.container {
  padding: 10px 20px;
}


/**
* sections about
*/

.about__container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;
}

.about__portrait {
  height: fit-content;
  max-height: 40rem;
  border: 1rem solid var(--color-white);
  transition: var(--transition);    
}

.about__portrait:hover {
  border-width: 0;
}

.about__cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.about__card {
  text-align: center;
}

.about__card-icon {
  font-size: 1.3rem;
  color: var(--color-black);
  border-radius: var(--border-radius-3);
  width: fit-content;
  margin-inline: auto;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.card.about__card:hover .about__card-icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.card.about__card h5 {
  margin: 1rem 0;
}

.about__right p {
  margin-bottom: 0.8rem;
}

.about__right .btn {
  margin-top: 2.5rem;
}



@media screen and (max-width: 1024px) {
  .about__left {
      display: none;
  }

  .about__container {
      grid-template-columns: 1fr;
  }

  .about__right h2 {
      text-align: center;
  }
}


@media screen and (max-width: 600px) {
.about__cards {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.about__right .btn {
  margin-top: 2rem;
}

}

/**
* sections services
*/

.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem 4rem;
}

.card.service {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.service__icon {
  background: var(--color-primary);
  padding: 0.6rem;
  border-radius: var(--border-radius-3);
  font-size: 1.5rem;
  color: var(--color-white);
  transition: var(--transition);
}

.service:hover .service__icon {
  background: var(--color-light);
  color: var(--color-primary);
}

.service h4 {
  margin-bottom: 0.7rem;
}



@media screen and (max-width: 1024px) {
  .services__container {
      gap: 1.5rem;
  }
}


@media screen and (max-width: 600px) {
  .services__container {
      grid-template-columns: 1fr;
      gap: 1.2rem;
  }

  .card.service {
      gap: 1.2rem;
  }
}

/**
*  END sections services
*/


/**
* sections Crypto
*/

.crypto__container {
  display: grid;
  grid-template-columns: 35% 53%;
  gap: 12%;
}

.crypto__portrait {
  height: fit-content;
  max-height: 40rem;
  border: 1rem solid var(--color-white);
  transition: var(--transition);    
}

.crypto__portrait:hover {
  border-width: 0;
}

.crypto__cards {
  margin: 3rem 0 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.card.crypto__card {
  text-align: center;
}

.crypto__card-icon {
  font-size: 1.3rem;
  color: var(--color-black);
  border-radius: var(--border-radius-3);
  width: fit-content;
  margin-inline: auto;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.card.crypto__card:hover .about__card-icon {
  background: var(--color-primary);
  color: var(--color-white);
}

.card.crypto__card h5 {
  margin: 1rem 0;
}

.crypto__right p {
  margin-bottom: 0.8rem;
}

.crypto__right .btn {
  margin-top: 2.5rem;
}



@media screen and (max-width: 1024px) {
  /* .crypto__left {
      display: none;
  }
 */
  .crypto__container {
      grid-template-columns: 1fr;
  }

  .crypto__right h2 {
      text-align: center;
  }
}


@media screen and (max-width: 600px) {
.crypto__cards {
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.crypto__right .btn {
  margin-top: 2rem;
}

}

/**
* Crypto services
*/


.card {
  padding: 1.5rem;
  border: 2px solid transparent;
  border-radius: var(--border-radius-1);
  transition: var(--transition);
}

.card:hover {
  background: transparent;
  border-color: var(--color-white);
  transform: translateY(-0.5rem);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
  .card {
      padding: 1.2rem;
  }
}

/**
*  END Card
*/

section:nth-child(2n)
{
  background: var(--color-white);
}
@media screen and (max-width: 1024px) {
  section
{
    padding: 8rem 0;
  }
}
section
{
  padding: 8rem 0;
  transition: var(--transition);
}

.align-center {
  text-align: center !important;
}
/* .color-black {
  color: black;
} */
/**
*  END section
*/
